In [1]:
import numpy as np

In [2]:
import pandas as pd

In [67]:
file_path = 'C:/Users/Hovo/Downloads/shark.xlsx'
df = pd.read_excel(file_path)

In [68]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N)
0,2017.06.02,2017-06-02 00:00:00,2017,Unprovoked,BAHAMAS,New Providence,Athol Island,Snorkeling,Tiffany Johnson,F,32,Right forearm severed,N
1,2017.05.30,2017-05-30 00:00:00,2017,Provoked,USA,South Carolina,"Awendaw, Charleston County",Touching a shark,Mackenzie Higgins,F,20,Right hand bitten by hooked shark PROVOKED INC...,N
2,2017.05.03,2017-05-03 00:00:00,2017,Invalid,USA,California,"Sunset Beach, Orange County",Surfing,Sophia Raab,F,18,"Laceration to thigh, likely caused by surfboar...",N
3,2017.04.29.b,2017-04-29 00:00:00,2017,Unprovoked,USA,South Carolina,"Folly Beach, Charleston County",Surfing,Holly Dyar,F,33,Left foot bitten,N
4,2017.04.22,2017-04-22 00:00:00,2017,Unprovoked,"ST HELENA, British overseas territory",Ascension Island,English Bay,Snorkeling,Frankie Gonsalves,F,40,Calf & foot bitten,N

In [69]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)'],
      dtype='object')

In [70]:
df = df.rename(columns={"Fatal (Y/N)": "Fatal"})

In [71]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal'],
      dtype='object')

In [72]:
df['Fatal'] = df['Fatal'].apply(lambda x: 1 if x=='Y' else 0)

In [73]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal
0,2017.06.02,2017-06-02 00:00:00,2017,Unprovoked,BAHAMAS,New Providence,Athol Island,Snorkeling,Tiffany Johnson,F,32,Right forearm severed,0
1,2017.05.30,2017-05-30 00:00:00,2017,Provoked,USA,South Carolina,"Awendaw, Charleston County",Touching a shark,Mackenzie Higgins,F,20,Right hand bitten by hooked shark PROVOKED INC...,0
2,2017.05.03,2017-05-03 00:00:00,2017,Invalid,USA,California,"Sunset Beach, Orange County",Surfing,Sophia Raab,F,18,"Laceration to thigh, likely caused by surfboar...",0
3,2017.04.29.b,2017-04-29 00:00:00,2017,Unprovoked,USA,South Carolina,"Folly Beach, Charleston County",Surfing,Holly Dyar,F,33,Left foot bitten,0
4,2017.04.22,2017-04-22 00:00:00,2017,Unprovoked,"ST HELENA, British overseas territory",Ascension Island,English Bay,Snorkeling,Frankie Gonsalves,F,40,Calf & foot bitten,0

In [74]:
df.drop(['Case Number', 'Name'], axis=1,inplace=True)

In [75]:
from dateutil import parser

In [76]:
from dateutil import parser
import pandas as pd

# Function to extract dates
def extract_date(date_str):
    # Try to parse the date string with a known format
    try:
        return pd.to_datetime(date_str, format='%Y-%m-%d %H:%M:%S', errors='coerce')
    except:
        pass

    # If the above fails, try to clean and parse using dateutil
    try:
        # Remove common prefixes and then parse
        date_str = date_str.split(' ', 1)[-1]  # Assumes the date is after the first space
        return parser.parse(date_str)
    except:
        # If parsing still fails, return NaT
        return pd.NaT

# Apply function to your date column
df['Parsed_Date'] = df['Date'].apply(lambda x: extract_date(x))

# Now extract year and time
df['Year'] = df['Parsed_Date'].dt.year
df['Time'] = df['Parsed_Date'].dt.time

# Check the output
df[['Date', 'Parsed_Date', 'Year', 'Time']].head()

                  Date Parsed_Date    Year      Time
0  2017-06-02 00:00:00  2017-06-02  2017.0  00:00:00
1  2017-05-30 00:00:00  2017-05-30  2017.0  00:00:00
2  2017-05-03 00:00:00  2017-05-03  2017.0  00:00:00
3  2017-04-29 00:00:00  2017-04-29  2017.0  00:00:00
4  2017-04-22 00:00:00  2017-04-22  2017.0  00:00:00

In [77]:
df.drop(['Time', 'Parsed_Date'],axis=1,inplace=True)

In [78]:
df = df.rename(columns = {'Sex ':'Sex'})

In [79]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Sex', 'Age', 'Injury', 'Fatal'],
      dtype='object')

In [80]:
df['Sex'] = df['Sex'].apply(lambda x: 1 if x=='M' else 0)

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
# Create dummy variables for the 'Type' column
type_dummies = pd.get_dummies(df['Type'], prefix='Type')

# Concatenate the dummy variables with the original DataFrame
df = pd.concat([df, type_dummies], axis=1)

# Drop the original 'Type' column
df = df.drop('Type', axis=1)

In [90]:
# Create dummy variables for the 'Type' column
type_dummies = pd.get_dummies(df['Activity'], prefix='Type')

# Concatenate the dummy variables with the original DataFrame
df = pd.concat([df, type_dummies], axis=1)

# Drop the original 'Type' column
df = df.drop('Activity', axis=1)

In [96]:
# Convert 'Age' to numeric, coercing errors to NaN, then drop NaN values
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df = df.dropna(subset=['Age'])

# Convert 'Age' back to integer (optional, if you want integer ages)
df['Age'] = df['Age'].astype(int)

In [84]:
# Convert 'Age' to string and keep rows where 'Age' has only digits
df['Age'] = df['Age'].astype(str)  # Ensure 'Age' is of string type
df = df[df['Age'].str.isdigit()]

# Optionally, convert 'Age' back to integers
df['Age'] = df['Age'].astype(int)

In [85]:
df.columns

Index(['Date', 'Year', 'Country', 'Area', 'Location', 'Activity', 'Sex', 'Age',
       'Injury', 'Fatal', 'Type_Boat', 'Type_Boating', 'Type_Invalid',
       'Type_Provoked', 'Type_Sea Disaster', 'Type_Unprovoked'],
      dtype='object')

In [105]:
# Selecting only object-type (string) columns for one-hot encoding
object_cols = df.select_dtypes(include=['object']).columns

# Apply one-hot encoding
df_encoded = pd.get_dummies(df, columns=object_cols)

In [114]:
# Drop rows with any NaN values
df_cleaned = df_encoded.dropna()

# Remove rows with infinity or -infinity
df_cleaned = df_cleaned[~df_cleaned.isin([np.inf, -np.inf]).any(1)]

# Optionally, check for and remove very large values
# Define a threshold value that is considered too large
max_threshold = 1e30  # Example threshold; you can adjust this as needed
df_cleaned = df_cleaned[(df_cleaned.abs() <= max_threshold).all(1)]

# After cleaning, proceed with your train-test split and model fitting
X = df_cleaned.drop('Fatal', axis=1)  # Assuming 'Fatal' is the target variable
y = df_cleaned['Fatal']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [115]:
from sklearn.ensemble import RandomForestClassifier

In [123]:
rfc = RandomForestClassifier(n_estimators=500)

In [124]:
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=500)

In [125]:
pred = rfc.predict(X_test)

In [126]:
from sklearn.metrics import classification_report,confusion_matrix

In [127]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94       735
           1       1.00      0.47      0.64       166

    accuracy                           0.90       901
   macro avg       0.95      0.73      0.79       901
weighted avg       0.91      0.90      0.89       901

In [128]:
print(confusion_matrix(y_test,pred))

[[735   0]
 [ 88  78]]